<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.datalog1" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>datalog1</name><js-module name="datalog1" src="www/datalog1.js"><clobbers target="cordova.plugins.datalog1" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="datalog1"><param name="android-package" value="cordova.plugin.datalog1.datalog1" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/datalog1.java" target-dir="src/cordova/plugin/datalog1/datalog1" /></platform></plugin>